$primary-color: #527CCD;

.basic_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;


  .header_name_mobile {
    color: $primary-color;
    font-size: 40px;
    white-space: nowrap;


    @media (min-width: 1024px) {
      display: none;
      font-size: 55px;
    }
  }

  .btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    order: 2;

    @media (min-width: 1024px) {
      order: 1;
    }


    .header_name {
      color: $primary-color;
      font-size: 30px;
      white-space: nowrap;
      display: flex;
      margin-right: 250px;


      @media (max-width: 1024px) {
        display: none;
      }
    }

    .navigation {
      display: flex;
      margin-top: 60px;

      @media (max-width: 1024px) {
        flex-direction: row;

      }


      .scroll-bar {
        order: 1;
        width: 360px;
        height: 1px;
        background-color: #C8D9FB;

        @media (max-width: 1024px) {
          order: 2;
          max-width: 130px;

        }

        .scroll-thumb {
          width: 60px;
          height: 1px;
          background-color: #527CCD;
          cursor: pointer;
          position: relative;
          left: 0;
          top: 0;
          border-radius: 5px;
        }
      }


      .prev-btn {
        margin-left: 50px;
        order: 2;
        @media (max-width: 1024px) {
          order: 1;
          margin-right: 80px;
        }
      }

      .next-btn {
        margin-left: 50px;
        order: 3;
        @media (max-width: 1024px) {
          margin-right: 120px;
        }
      }

    }
  }

  button {
    border: none;
    background: none;
    padding: 0;

    //img {
    //  @media (max-width: 1024px) {
    //    width: 140px;
    //    height: 140px;
    //  }
    //}
  }


  .slider {
    display: flex;
    order: 1;


    @media (min-width: 1024px) {

      order: 2;
    }
  }

  .slide {
    width: 220px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #C8D9FB;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    //height: var(--slide-height);
    opacity: 0;
    transition: opacity 0.3s ease;

    &.active {
      opacity: 1;
    }

    //@media (max-width: 1024px) {
    //  width: 540px;
    //  height: 810px;
    //  padding: 30px;
    //}

    p {
      font-family: 'Roboto', sans-serif;
      text-align: left;
      font-size: 12px;
      color: $primary-color;
      //@media (max-width: 1024px) {
      //  font-size: 32px;
      //
      //}
    }

    img {
      width: 220px;
      height: 160px;
      margin-bottom: 10px;
      float: left;
      //@media (max-width: 1024px) {
      //  width: 520px;
      //  height: 350px;
      //}
    }

    h4 {
      font-family: 'Roboto', sans-serif;
      text-align: left;
      font-size: 12px;
      margin-bottom: 10px;
      color: $primary-color;
      align-self: flex-start;
      //@media (max-width: 1024px) {
      //  font-size: 32px;
      //
      //}
    }

    h3 {
      font-family: 'Roboto', sans-serif;
      text-align: left;
      font-size: 16px;
      margin-bottom: 10px;
      color: $primary-color;
      //@media (max-width: 1024px) {
      //  font-size: 24px;
      //
      //}
    }
  }

  .slide:hover {
    border: 1px solid $primary-color;
  }
}

@media (max-width: 1024px) {
  .basic_div .slide:not(:first-child) {
    display: none;
  }
}
