$primary-color: #527CCD;
$primary-color-reserve:#C8D9FB;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.basic_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;


  .header_name_mobile {
    color: $primary-color;
    font-size: 40px;
    white-space: nowrap;
    margin-top: 130px;
    margin-bottom: 40px;
    width: 280px;

    h1 {
      color: $primary-color;
      font-size: 40px;
      text-align: left;
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }

  .btn {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 40px;
    order: 2;
    justify-content: space-between;

    @media (min-width: 1024px) {
      order: 1;
      width: 1150px;
      margin-top: 120px;
    }


    .header_name {
      white-space: nowrap;
      display: flex;

      h1 {
        color: $primary-color;
        font-size: 50px;
      }

      @media (max-width: 1024px) {
        display: none;
      }
    }

    .navigation {
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 1024px) {
        flex-direction: row;
      }


      .scroll-bar {
        order: 1;
        width: 360px;
        height: 1px;
        background-color: $primary-color-reserve;

        @media (max-width: 1024px) {
          order: 2;
          width: 130px;
          margin-left: 20px;
          margin-right: 20px;

        }

        .scroll-thumb {
          width: 60px;
          height: 1px;
          background-color: $primary-color;
          cursor: pointer;
          position: relative;
          left: 0;
          top: 0;
          border-radius: 5px;

          @media (max-width: 1024px) {
            width: 22px;
          }
        }
      }


      .prev-btn {
        margin-left: 40px;
        order: 2;
        width: 55px;
        height: 55px;
        border: 1px solid $primary-color-reserve;
        @media (max-width: 1024px) {
          order: 1;
          margin-left: 0;
        }
      }

      .next-btn {
        margin-left: 40px;
        order: 3;
        width: 60px;
        height: 60px;
        border: 1px solid $primary-color-reserve;
        @media (max-width: 1024px) {
          margin-left: 0;
          width: 55px;
          height: 55px;

        }
      }

    }
  }

  button {
    border: none;
    background: none;

    @media (max-width: 1024px) {
      width: 55px;
      height: 55px;
    }

  }


  .slider {
    display: flex;
    order: 1;
    @media (min-width: 1024px) {
      order: 2;
    }
  }

  .slide {
    width: 260px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    border: 1px solid $primary-color-reserve;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;

    &.active {
      opacity: 1;
    }

    @media (max-width: 1024px) {
      width: 280px;
    }

    .slide_data {
      margin-top: 10px;
      margin-bottom: 10px;

      p {
        font-family: 'Roboto', sans-serif;
        text-align: left;
        font-size: 12px;
        color: $primary-color;
        opacity: 0.6;

      }

      img {
        width: 220px;
        height: 160px;
        margin-bottom: 10px;
        float: left;
        padding: 20px;
        @media (max-width: 1024px) {
          width: 240px;
        }
      }
    }

    .slide_title {
      margin-bottom: 10px;

      p {
        font-family: 'Roboto', sans-serif;
        text-align: left;
        font-size: 16px;
        color: $primary-color;
        line-height:26px;
      }
    }

    .slide_description {
      p{
        font-family: 'Roboto', sans-serif;
        text-align: left;
        font-size: 12px;
        color: $primary-color;
        line-height:22px;
      }
    }
  }

  .slide:hover {
    border: 1px solid $primary-color;
  }
}

@media (max-width: 1024px) {
  .basic_div .slide:not(:first-child) {
    display: none;
  }
}
